[2019-01-18 22:16] bcurran3 commented on #366
pre-dupe of https://github.com/dtgm/chocolatey-packages/issues/411

Closing as request is now irrelevant.

[2019-01-18 22:16] #366 closed

[2019-01-18 22:17] bcurran3 commented on #334
Closing as this package has moved on to new maintainers.

[2019-01-18 22:17] #334 closed

[2019-01-18 22:19] bcurran3 commented on #289
Closing as I now maintain this package and the issue has been resolved by me.

[2019-01-18 22:19] #289 closed

[2019-01-18 22:21] bcurran3 commented on #329
Closing as this has been re-addressed here: https://github.com/pauby/ChocoPackages/issues/13 but won't be fixed.

[2019-01-18 22:21] #329 closed

[2019-01-18 22:23] bcurran3 commented on #256
@gep13 Can you remove from AU please? (Not that it's updating though.)

[2019-01-18 22:30] bcurran3 commented on #365
I didn't look at the scripts, but I'd recommend an update to hit enter on that "Checking..." window and then you'd be able to close the program faster without having to wait for it to go through checking all the drivers (causes a lag). Low priority for sure, but it would better it.

Personally I prefer killing the process, but I know others aren't fond of the idea.

I'm not sure if you wanted to i

[2019-01-18 22:44] AdmiringWorm commented on #365
I did actually add that, but I see now that I have a typo in the autohotkey script.
Tracking it here: https://github.com/AdmiringWorm/chocolatey-packages/issues/44 (yes, I reused your screenshot 😄)

I did that initially, but it wouldn't work as it should. (Can't remember now why though).

(I do do the SuMo package now and routinely see the DuMo version and download button though...that's why takin

[2019-01-18 23:05] bcurran3 commented on #365
No problem. Thanks for giving the package such attention.

Killing the task "should" be easy and less work than AHK though!

Feel free to reuse some functions from https://chocolatey.org/packages/chocolatey-misc-helpers.extension if you like.

[2019-01-19 08:58] #317 closed

[2019-01-19 12:57] jansohn commented on #413
Thanks for taking over the package and fixing the issue!

[2019-01-19 12:57] #413 closed

[2019-01-19 14:03] gep13 commented on #256
@bcurran3 done

[2019-01-19 14:03] #256 closed

[2019-01-19 14:11] gep13 commented on #329
@bcurran3 I have deleted the related files from this repository, as they are being maintained elsewhere.

@bcurran3 reading through that issue that you linked to, it does seem as though @pauby would accept a PR to correct the issue, if a solution that covers all the scenarios can be achieved.  If you are in a position to help out, then I would suggest submitting a PR.

[2019-01-19 14:18] gep13 commented on #411
Is it as simple as doing the PR, deleting the files, and then submitting?

Pretty much.  Have a look at the commit that I just added.

You delete all the packaging files from the automatic folder, the associated file in the ketarin folder.  Leave the icon in place, as that will still be valid for historical packages.

[2019-01-19 14:18] #411 closed

[2019-01-19 14:20] gep13 commented on #325
@AdmiringWorm thanks for the heads up!

[2019-01-19 14:20] #325 closed

[2019-01-19 14:20] gep13 commented on #395
@AdmiringWorm thanks for the heads up!

[2019-01-19 14:20] #395 closed

[2019-02-04 22:58] #391 closed

[2019-02-07 15:32] jnm2 commented on #235
Closing due to lack of response.

[2019-02-07 15:32] #235 closed

[2019-02-07 15:33] jnm2 commented on #235
Closing due to inactivity.

[2019-02-07 15:33] jnm2 commented on #236
Closing due to inactivity.

[2019-02-07 15:33] #236 closed

[2019-02-07 15:33] jnm2 commented on #246
Closing due to lack of response.

[2019-02-07 15:33] #246 closed

[2019-02-07 17:10] gep13 commented on #236
@jnm2 this package is now being maintained by @mkevenaar and has a new version available:

https://chocolatey.org/packages/bitvise-ssh-server

[2019-02-07 17:11] gep13 commented on #235
@jnm2 this package is now being maintained by @mkevenaar and has a new version available:

https://chocolatey.org/packages/bitvise-ssh-server

[2019-02-07 17:11] gep13 commented on #246
@jnm2 this package is now being maintained by @mkevenaar and has a new version available:

https://chocolatey.org/packages/bitvise-ssh-server

[2019-02-09 06:44] domenn opened #449 "Audacious outdated. 3.10.1 has been released."
https://audacious-media-player.org/download

[2019-02-26 12:16] Katonka opened #450 "Hugin is outdated / hugin.install possibly missing"
Hi there,

Hugin is not updating to the latest version. Could it be, that the following package source is missing?
https://github.com/dtgm/chocolatey-packages/tree/master/automatic/hugin.install

Cheers

[2019-03-12 00:04] dimqua opened #451 "'Opus Tools' is outdated"
https://chocolatey.org/packages/opus-tools
The latest version is 0.2.

[2019-03-28 00:12] basictheprogram opened #452 "Scilab 6.0.2 is available"
https://www.scilab.org/download/6.0.2

[2019-03-29 03:30] #373 closed

[2019-03-29 03:30] photodude commented on #373
Closing as stale

[2019-04-05 18:09] ExterminatorX99 opened #453 "FontForge has an update"

[2019-05-02 20:15] lasselindqvist opened #457 "Install4j outdated"
Install4j outdated. The newest version is 7.0.11. It was released 2019-04-15 (https://www.ej-technologies.com/download/install4j/changelog.html)

https://download-keycdn.ej-technologies.com/install4j/install4j_windows_7_0_11.exe
https://download-keycdn.ej-technologies.com/install4j/install4j_windows-x64_7_0_11.exe

The newest release here is 7.0.4 (https://github.com/dtgm/chocolatey-packages/tree/

[2019-05-16 09:02] donestefan opened #459 "keepass-plugin-keeautoexec broken in version 2.4"
Hi, the 2.4 version keepass-plugin-keeautoexec is not working.
There is an error message "plugin incompatible with the current KeePass version" when starting keepass.
Seems like this is caused by your renaming of the downloaded files. To fix the error I needed to rename "keepass-plugin-keeautoexec.dll" back to the original name "KeeAutoExec.dll" (note the uppercase letters). Maybe you should use S

[2019-05-24 17:50] AeliusSaionji opened #460 "Argyll Updated 2.1.1 (29th April 2019)"
Hello! The Argyll package is out of date.

[2019-05-27 09:11] gep13 commented on #460
@AeliusSaionji thank you for reporting this.  Are you in a position to help with getting this package updated?

[2019-05-27 19:54] AeliusSaionji commented on #460
Sure- I couldn't tell from your repo, do you use AU?

[2019-06-12 12:12] bovirus opened #464 "innoextract package is quite outdated (1.6)"
@dtgm

The innoextract package is quite old.

The latest stable version is 1.7.
And it's available new build 1.8 based on source code of June 2019.

Please update both version.

[2019-06-29 18:33] yamlCase commented on #459
I have found this issue as well, hopefully nicksmith53's pull request can be merged if applicable

[2019-06-29 20:41] yamlCase commented on #459
Even simpler, the DLL can just be omitted from the install:

https://sourceforge.net/p/keepass/discussion/329220/thread/cd5f34604f/?limit=25#f494

[2019-07-04 13:05] dzmitry-lahoda opened #469 "Generate simple powershell scripts additionally to chocolatey"
- for each chocolatey package (when possible) generate script like this `https://github.com/dzmitry-lahoda/powershell-install-silent/blob/master/7zip/19.00.ps1`
- generate file with list of all software, then list for versions
- generate installer scripts like `Set-ExecutionPolicy -ExecutionPolicy Unrestricted -Scope Process; iex ((New-Object System.Net.WebClient).DownloadString('https://raw.githu

[2019-08-19 20:10] FranklinYu commented on #457
Have you tried the “contact maintainer” function on the package page?

[2019-08-19 20:44] lasselindqvist commented on #457
I'll close this, since there is another package, that provides what is needed (https://chocolatey.org/packages/install4j.install)

[2019-08-19 20:44] #457 closed

[2019-09-07 01:35] TheCakeIsNaOH opened #473 "chomehistoryview out of date"
Version 1.37 released 08/22/2019
https://www.nirsoft.net/utils/chromehistoryview.zip

[2019-09-15 20:06] DJCrashdummy opened #474 "Electrum is heavily outdated"
**`electrum` 3.3.8** was [release](https://github.com/spesmilo/electrum/releases)d at 2019-07-11 and the **[chocolatey package](https://www.chocolatey.org/packages/electrum) is still at 3.1.2** (2018-03-28), which is pretty bad for such a sensitive pice of software... but even worse, versions <3.3.2 can't connect to it's servers any more due to security reasons of a possible phishing attack: https

[2019-09-17 12:36] coldacid opened #475 "[keepass-plugin-keeagent] Update to 0.11"
KeePass 2.41 does not work with KeeAgent 0.10.1 or older. KeeAgent 0.11 has been out for about a week now. Please update the Chocolatey package.

[2019-09-22 07:15] DJCrashdummy commented on #397
according to [chocolatey](https://chocolatey.org/packages/dupeguru) and https://github.com/chocolatey-community/chocolatey-package-requests/issues/516 this can be closed.

[2019-09-22 07:33] DJCrashdummy commented on #396
[UltraVNC](https://chocolatey.org/packages/ultravnc) is up to date and this can be closed.

[2019-09-23 21:09] #397 closed

[2019-10-02 07:56] omigeot commented on #460
Hi. What would be needed to get the package updated? AFAICT, there is not much difference between 2.0.1 et 2.1.1, installation-wise, just a different upstream package to get.

[2019-10-07 07:37] donestefan opened #476 "[keepass-plugin-webautotype] uninstallation does not work"
"choco uninstall keepass-plugin-webautotype" throws the following error:

[code]

[2019-10-29 21:05] Chirishman opened #477 "Republish dd package with a checksum"
Please republish the dd package with a checksum included. I see that you've updated it in the source here but the published version still has no checksum and as such is throwing errors on attempted install.

[2019-11-10 08:28] schinagl opened #478 "LinkShellextension is outdated"
automatic/linkshellextension is heavily outdated
Since I am the author of linkshellextension, I would like to fix this.

[2019-11-17 08:50] schinagl opened #480 "remove ln"
ln.exe was outdated and it dependecies were wrong.
Since I am the author i take over the chocolatey package and provide packages as soon as I release new versions

[2019-11-19 13:46] gep13 commented on #480
This has been taken care of.

[2019-11-19 13:46] #480 closed

[2019-12-01 02:21] adamvazquez82 opened #482 "Update Gramps version 5.1.1"
Released September 15th, 2019.

https://github.com/gramps-project/gramps/releases/tag/v5.1.1

https://chocolatey.org/packages/gramps

[2019-12-05 19:50] musm commented on #179
So is  `Get-ToolsLocation`  officially removed?

[2020-01-02 09:12] temp opened #483 "Update digiKam to version 6.4.0"
Chocolatey has 6.1.0, latest is 6.4.0

https://www.digikam.org/news/2019-11-09-6.4.0_release_announcement/

[2020-01-12 20:39] wroldwiedbwe commented on #482
Gramps 5.1.2 was released a few days ago.
https://github.com/gramps-project/gramps/releases/tag/v5.1.2

[2020-02-01 16:00] sirinsidiator opened #484 "Bulk Rename Utility package is outdated and broken"
I have installed "Bulk Rename Utility (Install)" version 3.0.0.1 a long time ago. For some time now, Chocolatey shows there is a version 3.1.0 available. When I try to install it, the update fails and tells me that it is unable to find a version of "bulkrenameutility" that is compatible with "bulkrenameutility.install 3.1.0.0".

That aside, there is already a version 3.3.1.0 of BRU available on it

[2020-02-10 16:20] CWempe opened #486 "[PingInfoView] update to 2.0.2"
Please update PingInfoView to the latest version.
It has some useful new features.

[2020-03-03 19:19] koppor opened #488 "Update folding @ home"
The [Folding at Home project](https://foldingathome.org/) supports research for the #coronavirus. The version available at https://download.foldingathome.org/releases/public/release/fah-installer/windows-10-32bit/v7.5/fah-installer_7.5.1_x86.exe should be offered via Chocolatey.

The current version at Chocolatey is 7.4.4 (see https://chocolatey.org/packages/fah).

[2020-03-06 21:20] CWempe opened #490 "update PingInfoView"
Please update PingInfoView.
https://chocolatey.org/packages/pinginfoview

The last choco version is 1.85.
But the latest official release is 2.02 and it includes some nice new features.

https://www.nirsoft.net/utils/multiple_ping_tool.html

This also results in a checksum error, because the newer ZIP-File is downloaded instead of the 1.85 version one.

[2020-03-07 15:20] gep13 commented on #484
@sirinsidiator thank you for raising this.  I believe that this has been taken care of, and a new maintainer is looking after this package:

https://github.com/dtgm/chocolatey-packages/pull/489

[2020-03-07 15:20] #484 closed

[2020-03-07 20:14] sirinsidiator commented on #484
Thanks! Just updated and it works as expected.

[2020-03-07 23:13] CWempe opened #491 "update wakemeonlan"
https://chocolatey.org/packages/wakemeonlan

The package is outdated and therefore the checksum does not match anymore.

Please update the package.

Thanks

[2020-03-07 23:18] CWempe commented on #486
Sorry.

Duplicate of https://github.com/dtgm/chocolatey-packages/issues/490

[2020-03-07 23:18] #486 closed

[2020-03-07 23:21] CWempe commented on #491
Sorry.

Duplicate of https://github.com/dtgm/chocolatey-packages/issues/372.

[2020-03-07 23:21] #491 closed

[2020-03-07 23:21] CWempe commented on #372
Any news about this?

[2020-03-07 23:22] CWempe commented on #243
I guess this can be closed. Right?

[2020-03-07 23:24] CWempe commented on #439
Looks like this can be closed.

![image](https://user-images.githubusercontent.com/1270359/76153877-31e9e700-60d3-11ea-8064-7a50b32a33f3.png)

[2020-04-06 10:17] seppestas opened #494 "USBLogView not installable due to update"
USBLogView has been updated to v1.26 and is no longer installable by chocolatey. Shouldn't the Automatic Updater automatically update the package?

The core problem is that nirsoft.net does not provide old versions, instead always updating the same zip file of software packages. This means installing old versions will not work and the checksum, and thus package installation, will fail if the packa

[2020-04-09 01:06] pyhedgehog opened #495 "Please update transmission to 2.94"
https://chocolatey.org/packages/transmission has version 2.92
https://transmissionbt.com/download/ has 2.94

[2020-04-09 06:50] koppor opened #496 "Please update Freeplane from 1.7.9 to 1.8.5"
FreePlange got updated to 1.8.5.

- Download page: https://sourceforge.net/projects/freeplane/files/latest/download
- Deep link: https://netcologne.dl.sourceforge.net/project/freeplane/freeplane%20stable/Freeplane-Setup-1.8.5.exe

Changelog: https://www.freeplane.org/info/history/history_en.txt

Would it be possible to update the chocolatey package?

[2020-04-09 06:51] koppor commented on #343
Since FreePlane 1.8.1 was released (refs #496), this report is now obsolete (even though not fixed), isn't it?

[2020-05-14 09:34] mstick99 opened #498 "(FAH) New version (7.6.13) available."

[2020-05-17 10:56] Mailaender opened #499 "OpenRA Release 20200503"
latest version number: release-20200503
release date: 20200503
URL to the install binary: https://github.com/OpenRA/OpenRA/releases/download/release-20200503/OpenRA-release-20200503-x64.exe

[2020-05-17 10:57] Mailaender commented on #499
By the way is there a way to automatize this?

[2020-06-01 12:04] rnc commented on #483
And 7 is in beta...

[2020-06-05 10:47] tunisiano187 commented on #498
I've took the maintainership and updated the package

[2020-06-05 10:48] tunisiano187 commented on #488
Done, but he isn't the maintainer anymore

[2020-06-07 14:35] gep13 commented on #488
@tunisiano187 can you send in another PR to remove the fah files from this repository?  Thanks

[2020-06-07 16:16] tunisiano187 commented on #488
Done

[2020-06-07 16:51] gep13 commented on #488
@tunisiano187 thank you!  We can close out this issue once your PR is merged.

[2020-06-07 17:07] tunisiano187 commented on #488
I've changed the Pull request

[2020-06-07 17:25] gep13 commented on #488
Perfect, thanks!

[2020-06-07 17:25] #488 closed

[2020-06-11 07:44] gep13 commented on #464
@TheCakeIsNaOH perfect, lets get this issue closed out!  Thanks again for your help on this!

[2020-06-11 07:44] #464 closed

[2020-06-11 14:04] nfriese commented on #496
Hi @koppor
FreePlane got updated to 1.8.5 - the title of your issue must be updated: "Please update Freeplane from 1.7.9 to 1.8.5"

see also https://chocolatey.org/packages/FreePlane#comment-4923854411

- Download page: https://sourceforge.net/projects/freeplane/files/latest/download
- Deeplink: https://downloads.sourceforge.net/project/freeplane/freeplane%20stable/Freeplane-Setup-1.8.5.exe
- Chan

[2020-06-12 12:08] gep13 commented on #496
@nfriese the packages in this repository are not using AU, no.  They are using another system based on ketarin.  While this system is still running, to the best of my knowledge, there are known issues with it, and packages have been moved out of this repository to other maintainers.

[2020-06-25 19:06] tunisiano187 commented on #202
@gep13 , you can close this issue as the package is handled by other maintainers

[2020-06-25 19:09] tunisiano187 commented on #498
@gep13 , can you close this issue ?

[2020-06-25 20:48] flcdrg commented on #202
That would be me 😀. Yes, go ahead and close this. Maintained in https://github.com/flcdrg/au packages now.

[2020-06-26 08:07] gep13 commented on #202
@tunisiano187 thanks for noticing that this issue can be closed, and thanks to @flcdrg for helping with the maintenance of this package.

I have just added a commit here: https://github.com/dtgm/chocolatey-packages/commit/d424bef39a070ac4b0d465245770b33a68bc19fe to remove the packaging files and ketarin file for the bginfo package.

If we are closing issues, can we make sure that the necessary fil

[2020-06-26 08:07] #202 closed

[2020-06-26 08:08] gep13 commented on #498
@tunisiano187 thanks for doing that, appreciate it!

[2020-06-26 08:08] #498 closed

[2020-06-27 13:08] tunisiano187 commented on #149
@gep13 , i think this one won't be fixed.
so it may be closed

[2020-06-27 16:56] gep13 commented on #149
Agreed!

[2020-06-27 16:56] #149 closed

[2020-06-28 10:35] tunisiano187 commented on #287
@gep13 , this package has been took by @thilas
So the Issue can be closed.
Thank you
Have a nice day

[2020-06-28 11:01] tunisiano187 commented on #499
I'll take a look into this

[2020-06-28 11:12] tunisiano187 commented on #499
It seems you already have made the package, if you need to automate it, ask me ;-) i can add it to my automated repository if you want

[2020-06-28 11:27] Mailaender commented on #499
@cjshmyr worked on this, but it seems some checks failed https://chocolatey.org/packages/openra/2020.05.03

[2020-06-28 11:29] Mailaender commented on #499
We have our own https://github.com/OpenRA/Chocolatey abandoned repository. Maybe revive that one?

[2020-06-28 11:31] tunisiano187 commented on #499
If you want to automated it, it will need many updates. but you can use AU (https://chocolatey.org/packages/AU)

[2020-06-28 11:44] tunisiano187 commented on #499
Your package is missing some things like the packagesourceurl, and the installation parameters seems to have a problem, the installation doesn't finish.
https://gist.github.com/choco-bot/32d88ed228d25b84dfafca610678fc62#file-install-txt-L373

i see you're maintainair of OpenRA, maybe you can add the update in the CI of the main project...?

[2020-06-28 11:49] tunisiano187 commented on #385
@gep13, this can be closed, @mkevenaar is now the maintainer

[2020-06-28 15:22] tunisiano187 commented on #370
@gep13 , this one can be closed, now maintained by @mkevenaar

[2020-06-28 20:13] gep13 commented on #370
@tunisiano187 thanks for letting me know!

[2020-06-28 20:13] #370 closed

[2020-06-28 20:13] gep13 commented on #385
@tunisiano187 thanks for letting me know!

[2020-06-28 20:13] #385 closed

[2020-06-28 20:14] gep13 commented on #287
@tunisiano187 thanks for letting me know!

[2020-06-28 20:14] #287 closed

[2020-06-29 16:57] TBobsin opened #512 "Hey, please upgrade your EAGLE Package"
Hello,
Autodesk offer EAGLE Version 9.6 at the moment
but in  dtgm/chocolatey-packages is only Version 7.6 linked and the source dosnt exist any more.
so it would be nice if this gets updated.
MFG

see log:
2020-06-29 18:45:02.833 +02:00 [Information] Attempt to get headers for http://web.cadsoft.de/ftp/eagle/program/7.6/eagle-win64-7.6.0.exe failed.
  The remote file either doesn't exist, is unau

[2020-06-30 09:02] gep13 commented on #499
@Mailaender @tunisiano187 The packaging files for OpenRA have been removed from this repository, as such, I think the discussion here should move to the other repository.  Let me know if you have any questions.

[2020-06-30 09:02] #499 closed

[2020-06-30 18:06] tunisiano187 commented on #14
@gep13, i think you now, but i'll tell you ;-)
You can close this one ;-)

[2020-06-30 19:41] tunisiano187 commented on #412
@gep13, you can close this too, i've created a PR #514
Have a nice day

[2020-07-02 13:15] cmorty commented on #496
@gep13 Is it reasonable to open a RFM?

[2020-07-02 20:21] tunisiano187 commented on #144
Hi @gep13 , this one can be closed too
the milestone linked too
Have a nice day.
tunisiano

[2020-07-02 21:29] gep13 commented on #144
@tunisiano187 what makes you say this one can be closed? I think the work suggested here is still a good idea, no?

[2020-07-03 05:36] tunisiano187 commented on #144
Yes, but he won't do that anymore, and i'm taking his packages and doing it my side... but if you think it should stay,.. no problem

[2020-07-03 09:35] gep13 commented on #412
@tunisiano187 thank you very much!

[2020-07-03 09:35] #412 closed

[2020-07-03 09:36] gep13 commented on #496
@cmorty yes, that is definitely a valid approach.

[2020-07-03 20:14] gep13 commented on #144
@tunisiano187 as long as this is on your radar when you bringing packages into your repository, then I am happy for this to be closed.

[2020-07-03 20:14] #144 closed

[2020-07-03 20:14] gep13 commented on #14
@tunisiano187 makes sense, thanks!

[2020-07-03 20:14] #14 closed

[2020-07-03 20:16] gep13 commented on #496
@tunisiano187 has just taken owner maintenance of this package, and the packaging scripts have been removed from this repository.  As such, I am going to close this issue.

[2020-07-03 20:16] #496 closed

[2020-07-04 11:13] tunisiano187 commented on #144
FYI : https://github.com/tunisiano187/Chocolatey-packages/issues/16

[2020-07-04 12:10] koppor commented on #496
Link to the new repository: https://github.com/tunisiano187/Chocolatey-packages/tree/master/automatic/freeplane

[2020-07-04 13:04] tunisiano187 commented on #496
Package pushed

[2020-07-12 18:53] tunisiano187 commented on #495
Solved in PR #517

[2020-07-12 18:53] tunisiano187 commented on #495
@gep13 , you can close it as soon as i'm mintainer

[2020-07-12 19:13] tunisiano187 commented on #512
I'll take a look into it

[2020-07-12 19:48] gep13 commented on #512
@tunisiano187 thanks for helping out with this package!

[2020-07-12 19:48] #512 closed

[2020-07-12 19:49] gep13 commented on #495
@tunisiano187 thanks for picking up this package!

[2020-07-12 19:49] #495 closed

[2020-07-19 13:23] tunisiano187 commented on #450
@gep13 , this package is now maintained by @chtof , so this can be closed

[2020-07-19 14:13] tunisiano187 commented on #407
@gep13 , this is managed by... myself, so 13.98 up-to-date

[2020-07-19 15:21] tunisiano187 commented on #95
@gep13 , this is now in the coreteam, so it can be closed too

[2020-07-19 15:28] tunisiano187 commented on #47
@gep13 this one isn't part of the repository anymore, but is broken...
Is it intersting to get it up-to-date ? an install-module and import-module can do the same...

[2020-07-19 16:22] tunisiano187 commented on #47
Since the package is already existing, i've updated and added it to my own repository and asked the maintainer to add me.

[2020-07-19 17:30] tunisiano187 commented on #268
This package is deprecated, you should use : https://chocolatey.org/packages/github-desktop
that's the new version as they have changed the versionning.

@gep13 can you close this issue? Thank you.

[2020-07-19 17:36] tunisiano187 commented on #222
@gep13 , this kind of packages are handled by @pauby
So you can close this issue to

[2020-07-19 17:41] tunisiano187 commented on #86
Package Handled

[] Nirsoft programs served from http://www.nirsoft.net/toolsdownload
[] chromepass
[] dialupass
[] iepv.install
[] iepv.portable
[] lsasecretsdump
[] lsasecretsview
[] mailpv.install
[] mailpv.portable
[] mspass.install
[] mspass.portable
[] netpass.portable
[] operapassview
[] passwordfox
[] pspv
[] pstpassword.install
[] pstpassword.portable
[] rdpv
[] routerpassview
[] sniffpas

[2020-07-19 17:59] stephengtuggy commented on #268
@tunisiano187 Thanks.

[2020-07-19 18:52] tunisiano187 commented on #268
@stefankueng , you're welcome.
Can you close the issue?
Thank you

[2020-07-19 19:09] stefankueng commented on #268
wrong stefan/stephen mentioned?

[2020-07-19 19:11] tunisiano187 commented on #268
Sorry, @stephengtuggy  was the right one

[2020-07-19 19:12] gep13 commented on #268
@tunisiano187 I will go ahead and close this out.

[2020-07-19 19:12] #268 closed

[2020-07-19 19:13] gep13 commented on #222
@tunisiano187 sounds good to me.

[2020-07-19 19:13] #222 closed

[2020-07-19 19:16] tunisiano187 commented on #404
@gep13 , this one is maintained by mkevenaar
#279 , and #403 are also related to MariaDB

[2020-07-19 19:17] gep13 commented on #47
@tunisiano187 I will go ahead and close this one out then.

[2020-07-19 19:18] tunisiano187 commented on #279
mkevenaar is now maintaining the package, so this is not related to this repository anymore.

[2020-07-19 19:19] gep13 commented on #95
@tunisiano187 I think that this is a different issue, but happy for it to be closed.

[2020-07-19 19:19] #95 closed

[2020-07-19 19:19] gep13 commented on #407
@tunisiano187 sounds good!

[2020-07-19 19:19] #407 closed

[2020-07-19 19:26] gep13 commented on #450
@tunisiano187 sounds good! I have removed the hugin files from this repository.

[2020-07-19 19:26] #450 closed

[2020-07-19 19:53] gep13 commented on #279
@tunisiano187 thank you

[2020-07-19 19:53] #279 closed

[2020-07-19 19:54] gep13 commented on #404
@tunisiano187 thanks for finding this.  @mkevenaar might be good to look at this in your own repository, if this is still something that is required.

[2020-07-19 19:54] #404 closed

[2020-07-19 19:54] gep13 commented on #403
@mkevenaar going to close this out here, but might be a good suggestion for on your repository.  Thanks

[2020-07-19 19:54] #403 closed

[2020-07-21 12:53] tunisiano187 commented on #494
@seppestas
I've resquested the maintainership, and i'll send it asap.

@gep13, can you assign me this issue? Thank you.

[2020-07-21 15:30] tunisiano187 commented on #494
Pushed on the website and in PR #522 here.
Now maintained on https://github.com/tunisiano187/Chocolatey-packages/tree/master/automatic/usblogview

[2020-07-21 20:01] gep13 commented on #494
@tunisiano187 sounds good

[2020-07-21 20:01] #494 closed

[2020-07-25 08:56] tunisiano187 commented on #323
@gep13 this one can be closed as @AdmiringWorm as removed the files

[2020-07-25 09:04] tunisiano187 commented on #459
@gep13 , you can close this one too as Pauby is maintaining it.
Thank you

[2020-07-25 09:11] tunisiano187 commented on #130
@gep13 , this one isn't a real issue linked to this repo, so i think you can remove it.
Thanks

[2020-07-25 10:08] tunisiano187 commented on #490
I've updated the package on my git, and requested to be maintainer.
i'll update it asap.

[2020-07-25 10:16] tunisiano187 commented on #477
Hello,
Is it still needed?
If required i can update it, but it seems it's not updated since 2015
Thank you.

[2020-07-25 10:22] gep13 commented on #323
@tunisiano187 agreed.

[2020-07-25 10:22] #323 closed

[2020-07-25 14:55] tunisiano187 commented on #43
@gep13 this package is on the coreteampackage
You can close i think

Thanks

[2020-07-25 16:04] gep13 commented on #43
@tunisiano187 makes sense to me.

[2020-07-25 16:04] #43 closed

[2020-07-25 16:05] gep13 commented on #477
@tunisiano187 if it is possible to push this package again, to include the checksums, then I think that this would be great.

[2020-07-25 16:08] gep13 commented on #490
@tunisiano187 I have added you as a maintainer of this package.

Once pushed, can you send a PR into this repository.

For now, I will close out this issue.

[2020-07-25 16:08] #490 closed

[2020-07-25 16:08] gep13 commented on #130
@tunisiano187 agreed.

[2020-07-25 16:08] #130 closed

[2020-07-25 16:09] gep13 commented on #459
👍

[2020-07-25 16:09] #459 closed

[2020-07-25 18:01] tunisiano187 commented on #477
OK, i've asked to be maintainer and prepared the package.

[2020-07-25 18:03] tunisiano187 commented on #475
@gep13 , can be closed, it's managed by pauby.
Thank you.

[2020-07-25 18:19] gep13 commented on #475
@tunisiano187 👍

[2020-07-25 18:19] #475 closed

[2020-07-25 20:45] tunisiano187 commented on #476
Removed in PR #525 and corrected in https://github.com/tunisiano187/Chocolatey-packages/tree/master/automatic/keepass-plugin-webautotype
and requested to be maintainer, so it will be updated asap.

You can close the issue.
Have a nice day.

[2020-07-26 17:14] tunisiano187 commented on #361
@gep13 , it's maintained by another now.
So you can close it.
Thank you

[2020-07-26 17:21] tunisiano187 commented on #154
@gep13 , this is maintained by another maintainer and [deprecated]
So you can close it too.

Thank you

[2020-07-27 15:50] tunisiano187 commented on #453
@gep13 , This one is maintained by @chtof , so it can be closed i'll check if there are files to remove
Thank you

[2020-07-27 15:56] tunisiano187 commented on #453
linked to PR #528

[2020-07-27 16:27] tunisiano187 commented on #270
Hello,
I'm slowly taking these packages, i'm tring to update it, i'll keep you in touch

[2020-07-27 16:58] tunisiano187 commented on #270
OK, i'll ask to be maintainer and push it asap

[2020-07-27 18:53] #453 closed

[2020-07-27 19:36] tunisiano187 commented on #124
@gep13 , just a question.
What's the project of this git?
Is it supposed to be replaced by other? or is it still used (ketarins files) ?

That's just to know what to do with issues like this one...
if it's supposed to be maintained by other maintainers, we can close this one, if not...

Thank you

[2020-07-28 06:57] tunisiano187 commented on #477
Done, this can be closed

[2020-07-28 07:00] tunisiano187 commented on #270
Added in my git,
waiting to be maintainer, and i'll push it
Related to #529 and https://github.com/tunisiano187/Chocolatey-packages/tree/master/automatic/blink

@gep13 , you can close this one.
Thank you

[2020-07-28 07:02] tunisiano187 commented on #476
olved in the PR just upper and https://github.com/tunisiano187/Chocolatey-packages/tree/master/automatic/keepass-plugin-webautotype
Just waiting to be added as maintainer.

Thank you
@gep13 this can be closed too

[2020-07-28 07:08] tunisiano187 commented on #478
Now maintained by @schinagl
https://gitlab.com/schinagl/link-shell-extension/tree/master/HardlinkExtension/install/choco

So you can close this issue too @gep13

[2020-07-28 07:41] tunisiano187 commented on #217
@gep13
I think this can be deleted.
Thank you.

[2020-07-28 17:31] tunisiano187 commented on #277
@gep13 , you can close this one, it's maintained by @mkevenaar

[2020-07-30 08:06] tunisiano187 commented on #179
Get-Binroot did, not Get-ToolsLocation

[2020-07-30 20:28] tunisiano187 commented on #483
Contacted the maintainer,

[2020-07-30 20:42] tunisiano187 commented on #477
@gep13 , Done !
you can close this issue.
Thank you.

[2020-07-31 15:27] tunisiano187 commented on #6
@gep13 , i think this one can be closed.
Atom and freeplane are maintained by other maintainers and pulse hasn't been update since 2015

Thank you

[2020-07-31 15:30] tunisiano187 commented on #10
@gep13, this one is maintained by @pauby and EOL
so this issue can be closed too.

Thank you

[2020-07-31 17:22] tunisiano187 commented on #47
@gep13 , i'm maintaining this now.
You can close this one.

Thank you.

[2020-07-31 19:15] gep13 commented on #47
@tunisiano187 thank you

[2020-07-31 19:15] #47 closed

[2020-07-31 19:17] gep13 commented on #10
@tunisiano187 thanks for checking this

[2020-07-31 19:17] #10 closed

[2020-07-31 19:22] gep13 commented on #476
@tunisiano187 thanks for doing this!

[2020-07-31 19:22] #476 closed

[2020-07-31 19:25] gep13 commented on #361
@tunisiano187 thanks for confirming

[2020-07-31 19:25] #361 closed

[2020-07-31 19:26] gep13 commented on #154
@tunisiano187 thanks

[2020-07-31 19:26] #154 closed

[2020-07-31 19:28] gep13 commented on #124
@tunisiano187 to the best of my knowledge, there is still a running ketarin instance that is using this repository as the basis for it's execution.  As a result, assuming that the web pages associated with the packages haven't changed, new package versions will continue to be pushed.  That is why we ask folks to remove the files from this repository when they take over maintenance of a package, so

[2020-07-31 19:29] gep13 commented on #270
@tunisiano187 thanks

[2020-07-31 19:29] #270 closed

[2020-07-31 19:29] gep13 commented on #478
@tunisiano187 thanks

[2020-07-31 19:29] #478 closed

[2020-07-31 19:30] gep13 commented on #217
@tunisiano187 agreed.

[2020-07-31 19:30] #217 closed

[2020-07-31 19:30] tunisiano187 commented on #482
I've requested to be added as maintainer, i'll push it asap.

[2020-07-31 19:31] gep13 commented on #277
@tunisiano187 :+1:

[2020-07-31 19:31] gep13 commented on #477
@tunisiano187 perfect, thanks.

[2020-07-31 19:31] #477 closed

[2020-07-31 19:32] gep13 commented on #6
@tunisiano187 sounds good.

[2020-07-31 19:32] #6 closed

[2020-08-01 06:11] gep13 commented on #482
@tunisiano187 thanks for doing this!

[2020-08-01 06:11] #482 closed

[2020-08-01 09:25] tunisiano187 commented on #474
Pushed, will see if everything is OK.

[2020-08-01 12:34] tunisiano187 commented on #227
@gep13, i've checked, and the updated version seems removing this line and the other software are unmaintained anymore.
So i think we can close this.
Thank you

[2020-08-01 12:37] tunisiano187 commented on #82
@gep13 , i don't know if it is linked, but @fervencoder as created it, so this one can be closed too.
(orry i give you a lot of things to do ...)
Thank you

[2020-08-01 13:31] tunisiano187 commented on #243
@gep13 this is solved and the PR is #534
Thank you

[2020-08-01 13:33] tunisiano187 commented on #143
This was just a hint, i think that it can be closed @gep13

[2020-08-01 14:19] gep13 commented on #243
@tunisiano187 thanks

[2020-08-01 14:19] #243 closed

[2020-08-01 14:20] gep13 commented on #449
@tunisiano187 thanks for taking on this package.

[2020-08-01 14:20] #449 closed

[2020-08-01 14:22] gep13 commented on #143
@tunisiano187 agreed.  The markdown rendering engine on chocolatey.org was also recently changed, so this investigation work would likely be needed to be done again if there was still an issue.

[2020-08-01 14:22] #143 closed

[2020-08-01 14:24] gep13 commented on #82
@tunisiano187 I think you are right.

[2020-08-01 14:24] #82 closed

[2020-08-01 14:25] gep13 commented on #227
@tunisiano187 sounds like a plan.

[2020-08-01 14:25] #227 closed

[2020-08-01 14:29] tunisiano187 commented on #316
@gep13 , this one in now maintained by @mkevenaar .
You can close it.
Thank you

[2020-08-01 14:36] gep13 commented on #316
@tunisiano187 thanks for checking this!

[2020-08-01 14:36] #316 closed

[2020-08-01 14:44] tunisiano187 commented on #396
@gep13 , This is supported by @mkevenaar .
Thank you

[2020-08-01 14:59] tunisiano187 commented on #84
@gep13 , now maintained by @mwrock
you can close it.
Thank you

[2020-08-01 15:39] tunisiano187 commented on #166
@gep13, you can close this, i'm working on it.
Thank you

[2020-08-01 19:16] tunisiano187 commented on #167
@gep13 , this plugin isn't mainained anymore (last update 2016)
and the problem isn't really related to the package but more to the plugin itself.
so i think you can close it too.
Thank you

[2020-08-02 12:20] tunisiano187 commented on #197
@gep13 , i'll manage this one with my Todo list, so it can be closed.
FYI : https://gitlab.com/chocolatey-packages/todo/-/blob/master/README.md

Thank you

[2020-08-02 14:04] tunisiano187 commented on #275
I've prepared the updating package, i'll try to keep it up-to-date, asap

[2020-08-02 14:29] tunisiano187 commented on #275
PR : #536
New git location : https://github.com/tunisiano187/Chocolatey-packages/tree/master/automatic/multibit-hd

[2020-08-02 14:29] tunisiano187 commented on #275
@gep13 , you can close this issue, i'm now taking it.
Thank you

[2020-08-02 20:40] gep13 commented on #275
@tunisiano187 thanks for doing this

[2020-08-02 20:40] #275 closed

[2020-08-02 20:41] gep13 commented on #197
@tunisiano187 sounds like a plan, thank you!

[2020-08-02 20:41] #197 closed

[2020-08-02 20:44] gep13 commented on #167
@tunisiano187 :+1:

[2020-08-02 20:44] #167 closed

[2020-08-02 20:44] gep13 commented on #166
@tunisiano187 sounds good

[2020-08-02 20:44] #166 closed

[2020-08-02 20:46] gep13 commented on #84
@tunisiano187 I am fairly sure that @mwrock isn't in a position to maintain packages anymore either.  If this is a package that you are interested in helping with, we could get you added to that one as well.  It would also seem that @dtgm was the last person to push a package version for this package, so I suspect that he took over maintenance from @mwrock.

[2020-08-02 20:47] gep13 commented on #396
@tunisiano187 thanks for checking

[2020-08-02 20:47] #396 closed

[2020-08-02 20:57] tunisiano187 commented on #84
Yes, I'll take a look at it tomorrow.

[2020-08-03 10:18] tunisiano187 commented on #179
@gep13, It seems this one can be closed too.
Thank you

[2020-08-05 21:14] tunisiano187 commented on #84
FYI : i'm solving problems with other of my packages, and i'll try this one after.
It seems the newer version isn't a complete one but only an update, so i'll need to test if we can set a depedency on a previous version of the same package... Do you know if it's possible?
if it don't work i'll install them both in the package.

[2020-08-06 19:50] gep13 commented on #84
@tunisiano187 I am not sure if I fully understand what you are asking here.  What I would say is, if you have specific packaging related questions, it is perhaps better to raise them in the Gitter room, where more folks would be able to help you.

[2020-08-13 14:09] tunisiano187 commented on #483
It's waiting for approval and i already have sent the PR #541.
So you cn close it @gep13 .Thank you

[2020-08-13 14:10] tunisiano187 commented on #474
@gep13 you can close this one, i'm taking care of it.
Thank you

[2020-08-14 07:49] gep13 commented on #483
@tunisiano187 thanks for following up here.

[2020-08-14 07:49] #483 closed

[2020-08-14 07:50] gep13 commented on #474
@tunisiano187 perfect, thanks

[2020-08-14 07:50] #474 closed

[2020-08-15 14:57] tunisiano187 commented on #189
@gep13 , this package is now maintained by the communitycore
so you can close this request.

Thank you

[2020-08-15 16:01] tunisiano187 commented on #439
@gep13 , you can close this request as it's up-to-date

[2020-08-17 13:26] temp commented on #483
@tunisiano187 I see 7.0.0 in your repo, but it is completely removed in the official sources?

[2020-08-17 13:31] tunisiano187 commented on #483
@temp, i don't really undestand your question.
The [7.0.0](https://chocolatey.org/packages)/digikam/7.0.0) is the latest on the digikam website, and it's waiting for moderation on [chocolatey](https://chocolatey.org/packages)

[2020-08-18 15:15] tunisiano187 commented on #201
@gep13 , this can be closed as the package is now maintained by @flcdrg
Thank you

[2020-08-19 16:54] tunisiano187 commented on #12
This software is for an old board that seems abandonned

[2020-08-19 17:38] gep13 commented on #12
@tunisiano187 thank you for looking into this.

[2020-08-19 17:38] #12 closed

[2020-08-19 17:39] gep13 commented on #201
@tunisiano187 thanks

[2020-08-19 17:39] #201 closed

[2020-08-19 17:41] gep13 commented on #439
@tunisiano187 thanks for looking into this!

[2020-08-19 17:41] #439 closed

[2020-08-19 17:42] gep13 commented on #189
@tunisiano187 thanks

[2020-08-19 17:42] #189 closed

[2020-08-20 08:55] tunisiano187 commented on #128
Added on my list.
@gep13, i don't know if this is interesting to keep? i think it may be a risk if there are some changes of the variables...

[2020-08-23 17:04] dzmitry-lahoda commented on #469
Nope. Choco won.

[2020-08-23 17:08] tunisiano187 commented on #469
OK, so can you close it?
Thank you

[2020-08-23 17:11] tunisiano187 commented on #460
@gep13 ,you can close this one.
jtcmedia is the current maintainer.

[2020-08-23 19:09] gep13 commented on #460
@tunisiano187 thanks for confirming.

[2020-08-23 19:09] #460 closed

[2020-08-23 19:10] gep13 commented on #469
@tunisiano187 thanks for following up with this.

[2020-08-23 19:10] #469 closed

[2020-08-23 19:10] gep13 commented on #386
@tunisiano187 Thanks for the PR related to this one.

[2020-08-23 19:10] #386 closed

[2020-08-23 19:11] gep13 commented on #177
@tunisiano187 makes sense to me.

[2020-08-23 19:11] #177 closed

[2020-08-25 05:10] tunisiano187 commented on #138
@gep13 ,
as most of the repos are now using au, o think this can be closed.
Thx

[2020-08-25 05:14] tunisiano187 commented on #451
I'll try to update it this evening

[2020-08-25 06:29] gep13 commented on #138
@tunisiano187 agreed.

[2020-08-25 06:29] #138 closed

[2020-08-25 17:10] tunisiano187 commented on #451
Maintainer request sent

[2020-08-26 00:58] tunisiano187 commented on #132
@gep13 , ii've got this on my wiki, and it's now part of the basic rules to create a package.
so it can be removed.
Thank you

[2020-08-26 01:06] tunisiano187 commented on #171
# Just  to understand correctly.
## Is it still relevant?
Is the softwares are still updated?

## The choice of on or two packages

Did the oclam is always required? or unison can be used alone?
is the unison required for oclam? (or oclam can be used alone?

## That will guide throught two differents types of work
Separated packages with the other as depedency (version may be forced)

[2020-08-26 01:32] tunisiano187 commented on #435
@gep13 , you close this one, as i'm maintaining it.
Thank you

[2020-08-26 20:26] tunisiano187 commented on #451
Pushed

[2020-08-27 17:19] tunisiano187 commented on #400
Update Ready, waiting to be maintainer

[2020-08-30 08:58] tunisiano187 commented on #139
@gep13 , i think this one can be closed.
most repo are on AU
Thank you

[2020-08-30 12:53] donestefan commented on #400
Thanks @tunisiano187

[2020-08-30 12:53] #400 closed

[2020-08-31 06:42] tunisiano187 commented on #164
@gep13 , i think this one can be closed too.
Thanks

[2020-09-03 07:43] tunisiano187 commented on #106
@gep13 i think this one can be closed, as that's maintained by ferventcoder and the package isn't checking sha so... not linked to a version

[2020-09-05 08:27] tunisiano187 commented on #422
@gep13 you can close this one, as i'm the new maintainer.
Thank you

[2020-09-05 10:02] gep13 commented on #452
This is now being maintained by @basictheprogram so we can close this issue.

[2020-09-05 10:02] #452 closed

[2020-09-05 10:03] gep13 commented on #422
@tunisiano187 sounds good to me, thanks!

[2020-09-05 10:03] #422 closed

[2020-09-07 09:27] tunisiano187 commented on #240
@gep13 , this one can be closed, it's maintained by mkevenaar
Thank you

[2020-09-07 09:48] gep13 commented on #240
@tunisiano187 thanks for confirming.

[2020-09-07 09:48] #240 closed

[2020-09-07 09:51] gep13 commented on #106
@tunisiano187 based on the Disqus comments for the package in question, I believe that there is still some work to be done, but I agree that it isn't the responsibility of this repository.

[2020-09-07 09:51] #106 closed

[2020-09-07 09:52] gep13 commented on #164
@tunisiano187 agreed.  Ideally, all package script would use PowerShell splatting, rather than passing each parameter individually.

[2020-09-07 09:52] #164 closed

[2020-09-07 09:52] gep13 commented on #451
@tunisiano187 thanks, I will go ahead and close out this issue.

[2020-09-07 09:52] #451 closed

[2020-09-07 09:53] gep13 commented on #435
@tunisiano187 thanks for picking up this package.

[2020-09-07 09:53] #435 closed

[2020-09-07 09:54] gep13 commented on #132
@tunisiano187 keep in mind as well, that the Chocolatey automatic uninstaller might be worth trying as well, as an uninstall script may not actually be required.

[2020-09-07 09:54] #132 closed

[2020-09-08 10:05] tunisiano187 commented on #15
@gep13 , this one can be closed too i think.
Have a nice day

[2020-09-09 10:59] tunisiano187 commented on #186
@gep13 , you canlose q jhis one, i'mthed mainatiner ;-)
Thank you

[2020-09-10 07:22] gep13 commented on #186
@tunisiano187 thanks

[2020-09-10 07:22] #186 closed

[2020-09-10 07:22] gep13 commented on #15
@tunisiano187 agreed.

[2020-09-10 07:22] #15 closed

[2020-09-10 22:11] C-Duv commented on #240
Hi, I see you closed the issue: it's a "WONT FIX case" then?

[2020-09-11 08:07] tunisiano187 commented on #240
It's maintained by @mkevenaar , not by dtgm, so i'm trying to clean here, but with this tag, he will see this issue

[2020-09-11 08:10] tunisiano187 commented on #240
after verification, he's using the exe file like you're asking.
Have a nice day

[2020-09-11 08:39] tunisiano187 commented on #195
@gep13, i think this one can be closed too.
Thank you

[2020-09-11 08:59] gep13 commented on #195
@tunisiano187 agreed

[2020-09-11 08:59] #195 closed

[2020-09-11 13:49] #438 closed

[2020-09-11 20:50] C-Duv commented on #240
OK, I see.
I didn't noticed the package changed repository.

Thank you for the info and checking 👍.

[2020-09-13 07:14] tunisiano187 commented on #237
Hi @bazzilic,
I see you're the new maintainer of this package.
Can you remove the folder from automatic and the file in ketarin and submit a PR?

Thank you

[2020-09-13 10:05] tunisiano187 commented on #137
@gep13 , i think this one can be closed too, many maintainers are using AU now, so that's not relevant anymore.
Thank you

[2020-09-13 10:19] tunisiano187 commented on #140
@gep13 , i think this one can be closed too.
Thank you

[2020-09-14 06:50] gep13 commented on #140
@tunisiano187 having consistency of the packages within a repository is still a good idea, and something to keep an eye on in your own repository going forward as you bring in other packages.  Thanks for reviewing this issue!

[2020-09-14 06:50] #140 closed

[2020-09-14 06:51] gep13 commented on #137
@tunisiano187 agreed.  This would have been a great issue to get completed at the time, but I think automatic packaging has moved on a lot towards AU.

[2020-09-14 06:51] #137 closed

[2020-09-14 06:55] gep13 commented on #237
I have removed the required files in this commit: https://github.com/dtgm/chocolatey-packages/commit/821da4ceafb0548c948bf1073e78bfc3b78bad9d

[2020-09-14 06:55] #237 closed

[2020-09-15 09:45] tunisiano187 commented on #260
I'll try to check this issue and update the package this weekend

[2020-09-17 19:54] tunisiano187 commented on #288
@gep13 , you can close this one, jctmedia is the current maintainer
Thank you

[2020-09-18 07:22] gep13 commented on #288
@tunisiano187 thanks for confirming

[2020-09-18 07:22] #288 closed

[2020-09-19 05:14] tunisiano187 commented on #372
The latest version as been pushed,  i'm the new maintainer.
This issue can be closed.

Thank you

[2020-09-19 06:32] gep13 commented on #372
@tunisiano187 have the files been removed from the repo?

[2020-09-19 09:08] #372 closed

[2020-09-21 05:28] tunisiano187 commented on #172
@gep13 , this seems OK in the version 0.10.5+
so i think you can close.
thx

[2020-09-21 06:18] gep13 commented on #172
@tunisiano187 this is a good reference issue regarding duplicate packages etc, but I agree, I don't think there is anything to be done here directly.

[2020-09-21 06:18] #172 closed

[2020-09-22 17:09] tunisiano187 commented on #260
@gep13 , i'm taking this package managment as you can see upper.
I think we can close this issue, i'm keeping it on my git and have updated to match the request.

Thank you

[2020-09-23 06:11] gep13 commented on #260
@tunisiano187 thanks!

[2020-09-23 06:11] #260 closed

[2020-09-23 06:29] tunisiano187 commented on #32
## max

- [ ]  encryptr
- [ ]  peerunity
## 1024px

- [ ]  bitcoin
## ??? rect

- [ ] wavpack
## 512px

- [ ] peazip
- [ ] genymotion
- [ ] twisted
- [ ] avg
- [ ] kaspersky
- [ ] softwareinformer
- [ ] duplicati
- [ ] mediainfo
- [ ] bitmessage
- [ ] keepass-plugin-1p2keepass
- [ ] trillian
- [ ] hugin
- [ ] hp
- [ ] lyx
- [ ] lmms
- [ ] fritzing
- [ ] xonotic
## 384px

- [ ] cyberduck
- [ ] pand

[2020-09-23 14:12] Pilskalns opened #562 "Autologon checksum changed"
Hi,

As of now, `autologon` package install fails because checksums doesn't match between value saved inside install script and checksum of file downloaded from remote site (https://download.sysinternals.com/files/AutoLogon.zip)

Also, since the ZIP being downloaded is so small (less than 500KB), would it make sense to include inside the .nupkg instead on relying on the remote download always bein

[2020-09-23 16:14] tunisiano187 commented on #131
@gep13 , this issue can be closed, i'm taking this package.
the package is ready on my git.
Thank you

[2020-09-23 16:18] tunisiano187 commented on #343
@gep13 , i'm the new maintainer, so we can close this one too.

Thank you

[2020-09-25 06:58] tunisiano187 commented on #35
@gep13 , this one can be closed too.
it's just a link to the issue.
Even if i'll keep that in mind ;-)

Thank you

[2020-09-25 08:24] gep13 commented on #35
@tunisiano187 sounds good.

[2020-09-25 08:24] #35 closed

[2020-09-25 11:29] tunisiano187 commented on #562
@gep13 this one can be closed too now that I am the new maintainer

[2020-09-27 08:44] tunisiano187 commented on #273
@gep13 , this package is now maintained by @mkevenaar

[2020-09-27 08:48] tunisiano187 commented on #409
@gep13 , this package is mainained by @mkevenaar
so it can be closed.

[2020-09-27 18:10] tunisiano187 commented on #401
Package ready on my git, will be pushed with that correction and latest version asap.

[2020-09-27 18:31] gep13 commented on #409
@tunisiano187 thanks

[2020-09-27 18:31] #409 closed

[2020-09-27 18:33] gep13 commented on #401
@tunisiano187 thanks

[2020-09-27 18:33] #401 closed

[2020-09-27 18:34] gep13 commented on #562
@tunisiano187 sounds good

[2020-09-27 18:34] #562 closed

[2020-09-27 18:34] gep13 commented on #273
@tunisiano187 thanks!

[2020-09-27 18:34] #273 closed

[2020-09-28 14:28] Mikaela opened #566 "The pwgen package is outdated"
The version of pwgen package in Chocolatey is 2.9.0 which offers update from the website that is 3.2.0.

* https://sourceforge.net/projects/pwgen-win/files/Password%20Tech/

[2020-09-29 04:59] tunisiano187 commented on #566
I'll take this package to update it

[2020-09-29 06:31] tunisiano187 commented on #234
currently maintained by @teknowledgist asked today to update it.
currently here : https://github.com/teknowledgist/Chocolatey-packages/tree/master/discontinued/freefilesync

[2020-09-29 09:50] gep13 commented on #566
@tunisiano187 thanks for picking up this package, I will go ahead and close out this issue.

[2020-09-29 09:50] #566 closed

[2020-09-29 09:51] gep13 commented on #234
@tunisiano187 thanks for following up on this one.

[2020-09-29 09:51] #234 closed

[2020-10-01 05:03] tunisiano187 commented on #248
@gep13 this package is maintained by @TakataSanshiro so i think we can close it.
Thank you

[2020-10-01 09:45] gep13 commented on #248
@tunisiano187 thanks for confirming

[2020-10-01 09:45] #248 closed

[2020-10-05 05:59] tunisiano187 commented on #326
@jctmedia is the maintainer of the package.
This issue can be closed.
Thanks @gep13

[2020-10-06 07:50] gep13 commented on #326
@tunisiano187 thanks for confirming.

[2020-10-06 07:50] #326 closed

[2020-10-09 17:33] tunisiano187 commented on #298
@gep13 , this one can be closed, it's maintained by @jctmedia
Thanks

[2020-10-10 18:03] gep13 commented on #298
@tunisiano187 thanks for confirming!

[2020-10-10 18:03] #298 closed

[2020-10-11 09:54] tunisiano187 commented on #27
@gep13 i think this one can be closed, the software aren't updated anymore and the total use is at 800 downloads average.

[2020-10-12 06:31] gep13 commented on #27
@tunisiano187 makes sense to me.

[2020-10-12 06:31] #27 closed

[2020-10-13 17:36] tunisiano187 commented on #376
I'll ask the maintainer to update it, aisasemi

[2020-10-15 19:19] tunisiano187 commented on #160
@gep13 i think this one isn't required anymore.
Thanks

[2020-10-16 07:14] gep13 commented on #160
@dtgm makes sense.

[2020-10-16 07:14] #160 closed

[2020-10-16 07:15] gep13 commented on #376
@tunisiano187 sounds good.

[2020-10-16 07:15] #376 closed

[2020-10-19 12:03] tunisiano187 commented on #90
@gep13 , i think this one can be closed.
Thanks

[2020-10-21 17:45] tunisiano187 commented on #169
@gep13 , i'll try to create the package, if it's working, i'll contact the other maintainers.
Si you can close this issue.

Thank you.

[2020-10-21 17:47] tunisiano187 opened #569 "(scratch) To be created"

[2020-10-21 17:48] #569 closed

[2020-10-23 18:13] tunisiano187 commented on #230
@gep13  this one Can ne closes as thé développer dont have a installer version, juste web

[2020-10-26 07:10] gep13 commented on #230
@tunisiano187 sounds like a plan to me.

[2020-10-26 07:10] #230 closed

[2020-10-26 07:10] gep13 commented on #169
@tunisiano187 let me know when this is up and running, and we can close out this issue.

[2020-10-26 07:11] gep13 commented on #90
@tunisiano187 agreed, this sounds more like something Chocolatey itself might take care of at some point if required.

[2020-10-26 07:11] #90 closed

[2020-10-26 19:27] tunisiano187 commented on #169
Hello, FYI, i'm stuck with it, i'll create an issue on the requests git

Le lun. 26 oct. 2020 à 08:11, Gary Ewan Park <notifications@github.com> a
écrit :

[2020-10-27 06:44] tunisiano187 commented on #92
@gep13 the version of netbeans as changed since this, and i don't think it's still relevant.
The current maintainer is @ComFreek and i've created the PR #570 for this.

Have a nice day

[2020-10-27 07:08] gep13 commented on #92
@tunisiano187 sounds like a plan!

[2020-10-27 07:08] #92 closed

[2020-11-02 20:37] chandlerkent opened #571 "Procdump Checksum Mismatch"
There was a new release of Procdump (https://docs.microsoft.com/en-us/sysinternals/downloads/procdump) on 2020-09-17 which has broken the checksum, causing Procdump to fail to install through Chocolatey. This has also been reported on the Chocolatey page for this package:

https://chocolatey.org/packages/procdump

![image](https://user-images.githubusercontent.com/13843/97916573-2cf03c80-1d21-11eb

[2020-11-02 20:44] chandlerkent commented on #571
This is the error message:

[code]

<details><summary>And the full debug logs:</summary>

[code]
</details>

[2020-11-02 20:47] chandlerkent commented on #571
This is what I did to fix it:

[code]

[2020-11-03 16:36] tunisiano187 commented on #571
I'll take a look into it

[2020-11-03 17:07] tunisiano187 commented on #571
It will be updated in a few days when i'll be added as maintainer.
Have a nice day

[2020-11-04 07:52] gep13 commented on #571
@tunisiano187 I am going to go ahead and close out this issue, as this package has been transferred.  Thanks again!

[2020-11-04 07:52] #571 closed

[2020-12-04 12:23] chanibal opened #574 "LastActivityView is out of date"
There is a checksum issue. Not surprising, as bundled version is 1.32 and current is 1.35

Your package structure suggests that its automatically generated, so no pull request unless requested.

[2020-12-07 20:14] tunisiano187 commented on #574
I'll try to take it this weekend if it's OK

[2020-12-09 20:35] tunisiano187 commented on #574
OK, i've requested to be added as maintainer, and it's ready on my repository, so as soone it's  approved, it will be pushed.

[2020-12-10 09:58] gep13 commented on #574
@tunisiano187 thanks for your help!

[2020-12-10 09:58] #574 closed

[2021-01-07 21:09] seisman opened #577 "pngquant is out of date"
The current version available from chocolatey is v2.12.3 (https://chocolatey.org/packages/pngquant), but the official latest version is v2.13.1 (https://pngquant.org/).

Installing pngquant gives me the following error:

[code]

[2021-01-08 07:16] gep13 commented on #577
@tunisiano187 is this one that you could perhaps help with?

[2021-01-08 12:52] tunisiano187 commented on #577
Yes, i'll update it

Le ven. 8 janv. 2021 08:16, Gary Ewan Park <notifications@github.com> a
écrit :

[2021-01-08 15:24] tunisiano187 commented on #577
https://github.com/dtgm/chocolatey-packages/pull/578

[2021-01-08 15:33] gep13 commented on #577
@tunisiano187 thank you for picking up this package!

[2021-01-08 15:33] #577 closed

[2021-02-08 02:42] dge9 opened #582 "hdparm installer links broken (404)"
Site (https://sites.google.com/site/disablehddapm/) appears to have been updated in Nov 2020, breaking existing installer links. Unclear if the software has been updated too.

[2021-02-08 21:41] jkolonko opened #583 "macrocreator macrocreator.install macrocreator.portable outdated"
All of these packages have version 5.0.5 whereas 5.4.0 is the current release.

[2021-02-09 08:22] tunisiano187 commented on #583
I'll Update it, thank you for the information

[2021-02-09 19:57] tunisiano187 commented on #583
@gep13 sorry for the spam ;-)
It's ready to be updated this night, i've requested the maintainership.
Pauby already added me on the .install, but i've just introduced the request for the meta package and the portable.

So you can close this issue.

Thank you

[2021-02-09 20:02] tunisiano187 commented on #582
I'll take a look at it tommorow, but i've already seen a mistake, that's HDDAPM not HDDARM.

@gep13, for that kind of mistake, what's the best solution ? a meta package that redirects to the correct one and the correct with the good name?

Thank you

[2021-02-10 11:16] gep13 commented on #583
@tunisiano187 thanks for your help with this package!

[2021-02-10 11:16] #583 closed

[2021-02-10 11:17] gep13 commented on #582
While the URL is:

https://sites.google.com/site/disablehddapm/

The contents of that page do suggest that it is called:

So I don't think that there is anything to change here in terms of name.

[2021-02-23 07:40] lucknaumann opened #600 "keepass-plugin-ioprotocolext & others don't work when renamed"
@dtgm Thanks for maintaining this.
Letting you know that `keepass-plugin-ioprotocolext` doesn't work when the files are renamed. This is true of a number of plugins. Of course, there are some that do still work once renamed, but by and large, this is not a good thing to do.

[2021-03-05 15:23] tunisiano187 commented on #582
Well, i didn't forgot this request but it uses gdrive, and i'm stuck on it
@gep13, do you have an idea about how i can use it?

[2021-03-06 13:33] gep13 commented on #582
@tunisiano187 I am not sure if I understand your question.  Can you elaborate on the problem that you are seeing?

[2021-03-06 15:01] tunisiano187 commented on #582
The installer is now on a Google drive, the link is to a page with download link from Google

[2021-03-10 06:00] dge9 commented on #582
@tunisiano187 Try `https://drive.google.com/uc?export=download&id=FileIDGoesHere`?
From [https://webapps.stackexchange.com/questions/33997/is-there-a-direct-download-links-for-files-on-google-drive](https://webapps.stackexchange.com/questions/33997/is-there-a-direct-download-links-for-files-on-google-drive)

[2021-03-15 12:06] mq2195 opened #601 "winrar v6.0.0.20210102 checksum mismatch"
choco install -y winrar

Error - hashes do not match. Actual value was 'B422D22BA8E0AF59672D3720161B9DE92C2BC56956AC18F847595B8AA84CDEB9'.
ERROR: Checksum for 'C:\Users\user\AppData\Local\Temp\chocolatey\winrar\6.0.0.20210102\winrar-x64-600pl.exe' did not meet '0e53870be13dda3b6e8063b976871463ae5daf708a5375f982075752c6e80e27' for checksum type 'sha256'. Consider passing th
e actual checksums throu

[2021-03-26 10:34] nett00n opened #604 "WinDJView is broken"
[code]

[2021-04-27 06:51] BrandonKMLee opened #605 "GraphicsMagick is now 1.3.36"
Check https://sourceforge.net/projects/graphicsmagick/files/
Also the original pack is updated o 16 Jun 2019, which is 22 months ago!

[2021-05-06 03:54] rollingmoai opened #606 "Add Embarcadero Dev-C++"
`orwelldevcpp` is quite old, it might be good to add this new active fork: https://github.com/Embarcadero/Dev-Cpp.

[2021-09-03 17:35] RJHsiao opened #609 "ExifToolGUI is broken"
Hi dtmg,

Package ExifToolGUI cannot download anymore because of the website moved.
The new URLs are:
* Website & Manual: https://exiftool.org/gui/
* Forum & Changelog: https://exiftool.org/forum/index.php?topic=2750.0
* Metadata articles: https://exiftool.org/gui/articles/
* Download Link: https://exiftool.org/gui/exiftoolgui516.zip

It looks like some script will generate automatically so I shou

[2021-09-19 18:55] riedel opened #610 "git-annex is now >= 8.20210804"
See https://downloads.kitenet.net/git-annex/windows/current/git-annex-installer.exe.info

[2021-10-22 14:58] mikeatmaynard opened #611 "ProjectLibre package outdated"
The last update to the package was 2/5/2015. Since then ProjectLibre has been updated from version 1.5.9 to 1.9.3

[2021-12-27 15:10] RJHsiao commented on #609
Hey!
Is anyone here?

[2021-12-29 15:28] TakataSanshiro commented on #609
I've submitted the update package. It passed the testing.
https://community.chocolatey.org/packages/exiftoolgui/5.16.20211222

You can confirm that with this command before approve one.
`choco install -y exiftoolgui --version 5.16.20211222`
Thanks for your notification. @RJHsiao

[2021-12-30 03:57] RJHsiao commented on #609
Thank you @TakataSanshiro
I see you push the update in last week, and it can be upgrade successfully that I just check right now.

[2021-12-30 03:57] #609 closed

[2022-01-22 23:31] midrare opened #614 "Cmder does not produce start menu shortcut"
As of now, cmder can only be started from the command line or the run menu. It'd be convenient if there was a shortcut created in the start menu as well.

[2022-01-29 22:43] nopeinomicon opened #615 "nano is very outdated"
The current version of nano for the package here 2.5.3, while the current released version is 6.0. The official nano site no longer releases Win32 binaries so the auto-update system didn't catch this. There are new Windows builds/source here:
https://github.com/lhmouse/nano-win
https://files.lhmouse.com/nano-win/

[2022-02-01 19:30] tunisiano187 commented on #604
Hello,
I'm maintainning this package at https://github.com/tunisiano187/chocolatey-packages/
I pushed the update, but the latest version seems to have a malware detected, so i'm waiting for an answer on it at : https://sourceforge.net/p/windjview/discussion/392867/thread/b60e69c48a/

[2022-02-04 15:50] gep13 commented on #615
@tunisiano187 thank you!

[2022-02-04 15:50] #615 closed

[2022-02-04 15:53] gep13 commented on #604
@tunisiano187 thanks for picking this one up.  Let me know if/when you send a PR to remove the package from this repository, and I will get it merged in.

[2022-02-04 18:48] tunisiano187 commented on #604
@gep13, sorry i forgot to create the PR. that's done now.
Thank you

[2022-02-05 15:54] gep13 commented on #604
@tunisiano187 thanks!

[2022-02-05 15:54] #604 closed

[2022-02-08 16:09] TakataSanshiro commented on #605
@BrandonKMLee I've updated the package. Thanks for your notice.
https://community.chocolatey.org/packages/graphicsmagick/1.3.36

[2022-02-09 07:23] gep13 commented on #605
@TakataSanshiro Thanks for taking over maintenance of this package.  I have made a commit to remove the packaging files from this repository:

https://github.com/dtgm/chocolatey-packages/commit/ff2379cb17da00d444987738c4ee7869cc56b457

[2022-02-09 07:23] #605 closed

[2022-03-15 13:04] jwfxpr opened #619 "Update request: filetypesman"
Current chocolatey package version: 1.85
Current available version: 1.95

Download page: https://www.nirsoft.net/utils/file_types_manager.html

[2022-06-03 15:53] rgl opened #621 "Upgrade the gsmartcontrol package"
Can you please upgrade the [gsmartcontrol package to 1.1.4](https://github.com/ashaduri/gsmartcontrol/releases/tag/v1.1.4)?

[2022-07-05 08:44] C-Duv opened #622 "Upgrade ProduKey package to 1.97"
The [`ProduKey`](https://community.chocolatey.org/packages?q=ProduKey) Chocolatey packages are installing v1.92 and v1.93 but [ProduKey](https://www.nirsoft.net/utils/product_cd_key_viewer.html) version 1.97 is available.

The packages in this repository are supposed to be automatic but obviously it failed for theses since v1.93

I know how to create a package but not with Ketarin. How can I help?

[2022-09-07 05:02] slycordinator opened #625 "Handle has checksum mismatch"
For Handle v4.22
chocolatey downloads from 'https://download.sysinternals.com/files/Handle.zip'

upstream file sh256 sum:            '524e61547c8e26608cda1b11b6e9471616cccc48530f6e7ec9131eabf839357e'

chocolatey package sh256 sum: '1f2e6eda07f0581c1cfac733f34005c9122c4d2a9d5e0b6d99797502a76ad79e'

[2022-09-07 05:07] slycordinator commented on #625
Also, in tools/chocolateyInstall.ps1
it seems like

$checksumType64 = "checksumType"
should be
$checksumType64 = "$checksumType"

[2022-09-07 06:46] tunisiano187 commented on #625
I'll take the package to my repository to update it.

[2022-09-08 05:16] unforgettableid commented on #621
@dtgm has been gone, and has made zero commits, for years now.  I sent a message to the Chocolatey site admins today, asking them to have someone else please take over maintenance of the relevant Chocolatey package.

In general, if you contact a package maintainer about an outdated package, and there's no reply after a week, it's a good idea to [contact the Chocolatey site admins](https://docs.cho

[2022-09-08 05:24] unforgettableid commented on #622
@dtgm has been gone, and has made zero commits, for years now.

In general, if you contact a package maintainer about an outdated package, and there's no been reply after a week, it's a good idea to [contact the Chocolatey site admins](https://docs.chocolatey.org/en-us/community-repository/users/package-triage-process#the-triage-process:~:text=If%20the%20maintainer(s)%20do%5Bes%5D%20not%20respond%

[2022-09-08 05:29] unforgettableid commented on #611
@dtgm has been gone, and has made zero commits, for years now.

In general, if you contact a package maintainer about an outdated package, and there's no been reply after a week, it's a good idea to [contact the Chocolatey site admins](https://docs.chocolatey.org/en-us/community-repository/users/package-triage-process#the-triage-process:~:text=If%20the%20maintainer(s)%20do%5Bes%5D%20not%20respond%

[2022-09-08 05:30] unforgettableid commented on #610
@dtgm has been gone, and has made zero commits, for years now.

In general, if you contact a package maintainer about an outdated package, and there's no been reply after a week, it's a good idea to [contact the Chocolatey site admins](https://docs.chocolatey.org/en-us/community-repository/users/package-triage-process#the-triage-process:~:text=If%20the%20maintainer(s)%20do%5Bes%5D%20not%20respond%

[2022-09-08 05:58] unforgettableid commented on #582
Dear @tunisiano187:

### Background information

The old Google Site is archived at:  https://web.archive.org/web/20210128155617/https://sites.google.com/site/disablehddapm/.  You may have to disable JavaScript in order to view it correctly.

The new hdparm homepage is at:  https://disablehddapm.blogspot.com/

The file view link is:  https://drive.google.com/file/d/13Y1rNBSuXic1Ey7br2elRH-A0ICHBPC

[2022-09-08 16:09] unforgettableid commented on #621
As per the Chocolatey team's instructions, I've opened a [request](https://github.com/chocolatey-community/chocolatey-package-requests/issues/1360) for a new maintainer to step up.  Is any Chocolatey user out there possibly interested in volunteering?

[2022-09-08 17:11] tunisiano187 commented on #621
Hello, I'll take it

[2022-09-09 08:44] tunisiano187 commented on #622
You can use Au module if you want but it needs to be on another repo.
you can check here to see an exemple (and even push it there to automate it)
https://github.com/tunisiano187/Chocolatey-packages/tree/master/automatic/handle

[2022-09-09 16:02] TakataSanshiro commented on #619
I submitted the update package. It has been approved.
https://community.chocolatey.org/packages/FileTypesMan/1.96

Thanks for your notification. @jwfxpr

[2022-09-13 08:44] tunisiano187 commented on #625
@slycordinator, the package is updated.
You can close this request ;-)
Have a nice day

[2022-09-15 15:28] TakataSanshiro commented on #622
I'm familiar with nirsoft packages.
I submitted the update packages. They have been approved.
https://community.chocolatey.org/packages/ProduKey/1.97
https://community.chocolatey.org/packages/produkey.install/1.97
https://community.chocolatey.org/packages/produkey.portable/1.97

Thanks for your notification. @C-Duv

[2022-09-28 00:04] slycordinator commented on #625
Thanks for the quick fix/update.

Sorry for getting to closing this so late....

[2022-09-28 00:04] #625 closed

[2022-10-02 07:34] unforgettableid commented on #621
Dear @rgl:

Tunisiano's gsmartcontrol 1.1.4 package is now available.  Please do close this issue, when you have time.

Thank you!

[2022-10-02 07:45] rgl commented on #621
Thank You!

[2022-10-02 07:45] #621 closed

[2022-11-04 09:29] tunisiano187 commented on #614
Hello!
The package is maintained by @AdmiringWorm here : https://github.com/AdmiringWorm/chocolatey-packages/tree/master/automatic/cmder
Maybe you should consider to create the issue on that repository ? https://github.com/AdmiringWorm/chocolatey-packages/issues

@AdmiringWorm , shouldn't you remove the package from here to avoid confusion ?
and by the way, it sems you're still using the broken gi

[2022-11-06 10:58] tunisiano187 commented on #390
Hello, It's updated by my repository.
can you close this request ? or maybe @gep13 ?

[2022-11-13 12:37] tunisiano187 commented on #610
I'll tke this package to update it

[2022-11-18 19:49] tunisiano187 commented on #606
Hello,
dtgm isn't active anymore.
To help, i've created the package [embarcaderodevcpp](https://community.chocolatey.org/packages/embarcaderodevcpp)
if it's OK for you, you can close this issue.

Have a nice day

[2022-11-19 01:11] #606 closed

[2022-11-26 16:46] tunisiano187 commented on #610
Hello, @riedel, you can close this issue, i have updated the package.

Thank you

[2022-11-27 09:21] riedel commented on #610
sure!

[2022-11-27 09:21] #610 closed